@import url('https://fonts.googleapis.com/css?family=Acme|Slabo+27px|Staatliches&display=swap');

$title: 'Staatliches', cursive;
$form: 'Acme', sans-serif;
$card: 'Slabo 27px', serif;

$primary: white;
$secondary: black;
// Sophisticated and Calm
$dark1: #132226;
$grey1: #525b56;
$brown1: #be9063;
$ash1: #a4978e;
$box-shadow: 2px 2px 5px 2px #fafafa;

// Vintage 1950's
$blue2: #80add7;
$green2: #0abda0;
$coffee2: #ebf2ea;
$light2: #d4dca9;
$brown2: #bf9d7a;

// VIVID RETRO
$maroon3: #c0334d;
$pink3: #d6618f;
$milk3: #f3d4a0;
$orange3: #f1931b;
$brown3: #8f715b;

// Turquoise and Red
$black4: #04060f;
$dark4: #03353e;
$blue4: #0294a5;
$khaki: #a79c93;
$red4: #c1403d;
